<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stocks Graphs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/personal.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/public/js/highstock/highstock.js"></script>
  <script src="/public/js/highstock/modules/exporting.js"></script>
</head>
<body>
	{{{ body }}}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/public/js/functions.js"></script>
	<script type="text/javascript" src="/public/js/script.js"></script>
</body>
</html>